.completed-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    .completed-todo{
        background-color: rgb(197, 197, 197);
        padding: .3rem;
        border-radius: .3rem;
    }
}