.pendings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    
    .pending-container{
        display: flex;
        gap: .3rem;
    }
}